body, html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

/* .hero-text > button, .content-text > button {
    font-family: 'Barlow', sans-serif;
    width: 30%;    
    font-size: 100%;
    background-color: rgb(4, 94, 110);
} */

/* .content {
    background-color: whitesmoke;
    width: 60%;
    text-align: left;
    position: relative;
    height: auto;
    min-height: 70%;
    
    left: 20%;
    font-family: 'Barlow', sans-serif;
    margin-top: 3%;
}

.content > img {
    height: 90%;
    float:right;
    width: 50%;
}

.content-text{
    padding: 5%;
    width: 50%;
    font-weight: 500;
}

.content-text > h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(4, 94, 110);
    padding-bottom: 5%;
    font-size: 220%;
}
 */

/* Bigger Screens */
 @media (min-width: 768px) { 
    /* The hero image */
    .hero-image {
        /* The image used */
        background-image: url("../images/Header-img.jpg");

        /* Set a specific height */
        height: 50%;

        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Josefin Sans', sans-serif;
    }

    .hero-text > h5{
        font-family: 'Barlow', sans-serif;
        margin-bottom: 10%;
        margin-top: 4%;
    }

    .content {
    background-color: whitesmoke;
    width: 60%;
    text-align: left;
    position: relative;
    height: auto;
    min-height: 80%;
    
    left: 20%;
    font-family: 'Barlow', sans-serif;
    margin-top: 3%;
    }

    .right-content-image > img {
        height: 90%;
        float:right;
        width: 50%;
    }

    .content > img {
        width: 50%;
        height: auto;
    }

    .left-content-text {
        float: right;
        width: 50%;
        padding: 5%;
        font-weight: 500;
    }

    .content-text{
        padding: 5%;
        width: 50%;
        font-weight: 500;
    }
    
    .left-content-text > h1, .content-text > h1 , .contact > h1 {
        text-transform: uppercase;
        font-weight: bolder;
        color: rgb(4, 94, 110);
        padding-bottom: 5%;
        font-size: 220%;
    }

    .hero-text > button, .content-text > button , .left-content-text > button , .contact button{
        font-family: 'Barlow', sans-serif;
        width: auto;    
        font-size: auto;
        background-color: rgb(4, 94, 110);
        
    }

    .content-text > button {
        margin-top: 1em;
    }

    .content-plain {
    background-color: whitesmoke;
    width: 60%;
    text-align: center;
    position: relative;
    height: auto;
    
    left: 20%;
    font-family: 'Barlow', sans-serif;
    margin-top: 3%;
    padding: 1%;
    
    font-weight: 500;
    }

    .content-plain > h1 {
        text-transform: uppercase;
        font-weight: bolder;
        color: rgb(4, 94, 110);
        padding-bottom: 1%;
        font-size: 220%;
    }

    .content-plain p {
        padding: 1%;        
    }

    .content-top {
        background-color: whitesmoke;
        width: 60%;
        text-align: center;
        position: relative;
        height: auto;
        min-height: 80%;
        
        left: 20%;
        font-family: 'Barlow', sans-serif;
        margin-top: 3%;
    }

    .content-top > img {
        width: 100%;
    }

    .content-top-text {
        padding: 5%;
        font-weight: 500;
    }
    
     .content-top-text > h1 {
        text-transform: uppercase;
        font-weight: bolder;
        color: rgb(4, 94, 110);
        font-size: 220%;
     }

     ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }

      .contact {
        background-color: whitesmoke;
        width: 60%;
        text-align: center;
        position: relative;
        height: auto;
        padding: 2%;
        font-weight: 500;
        
        left: 20%;
        font-family: 'Barlow', sans-serif;
        margin-top: 3%;
      }

      .row {
          padding: 1%;
      }

      .g-recaptcha {
          width: 50%;
          float: left;
      }

      .formbutton {
          margin-top: 2%;
          text-align: right;
        
      }
}

/* smaller screens */
@media (max-width: 767.98px)  { 
    .hero-text {
        text-align: center;
    }

 }